examples/contextbrowser-flow1.json
[{"id":"d0a513f8.5bf6c","type":"tab","label":"Flow 1"},{"id":"962d4a6b.dcdfe8","type":"config","z":"d0a513f8.5bf6c","name":"Startup Values","properties":[{"p":"startupvalue","pt":"flow","to":"2","tot":"num"},{"p":"globalproperty","pt":"global","to":"3","tot":"num"}],"active":true,"x":260,"y":180,"wires":[]},{"id":"39f7f66a.5cb96a","type":"debug","z":"d0a513f8.5bf6c","name":"","active":true,"console":"false","complete":"true","x":630,"y":100,"wires":[]},{"id":"9cb29d8.62f416","type":"inject","z":"d0a513f8.5bf6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":100,"wires":[["b86c0d34.5bcda"]]},{"id":"b86c0d34.5bcda","type":"function","z":"d0a513f8.5bf6c","name":"change context","func":"var nc = context.get('nc') || 0;\nnc = nc + 1;\ncontext.set('nc', nc);\ncontext.nc2 = nc;\nvar gc = context.global.get('gcount') || context.global.gcount || 0;\ngc = gc + nc + 1;\ncontext.global.set('gcount', gc);\n\ncontext.flow.set('ts', msg.payload);\ncontext.flow.ts2 = msg.payload;\n\nmsg.payload = { gc: gc,\nnc: nc,\nts: context.flow.get('ts') };\n\ncontext.global = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["39f7f66a.5cb96a"]]}]